{{define "article"}}
<!DOCTYPE html>
<html lang="en">
    {{template "header"}}
    <body>
        {{template "navbar"}}
        <div class="container">
            <div class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading">Article</div>
                    <div class="panel-body">
                        <a class="btn btn-success" href="/article/prepareCreate">Create Article</a><br/><br/>
                        <table id="dtUser" class="table table-bordered">
                            <thead>
                                <th>Article Id</th>
                                <th>Title</th>
                                <th>Short Description</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>aksi</th>
                            </thead>
                            <tbody>
                                {{range $index, $elem := .}}
                                <tr>
                                    <td>{{$elem.ArticleID}}</td>
                                    <td>{{$elem.Title}}</td>
                                    <td>{{$elem.ShortDescription}}</td>
                                    <td>{{$elem.Description}}</td>
                                    <td>{{$elem.StatusDesc}}</td>
                                    <td>
                                        <a href="#" class="btn btn-warning">Edit</a> ||
                                        <a href="/article/delete?id={{$elem.ArticleID}}" class="btn btn-danger">Delete</a> ||
                                        <a href="/article/publish?id={{$elem.ArticleID}}" class="btn btn-success">Publish</a> ||
                                        <a href="/article/unpublish?id={{$elem.ArticleID}}" class="btn btn-primary">Unpublish</a>
                                    </td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
                </div>	 	
            </div>   
        </div>
    </body>
</html>
{{end}}