{{define "index"}}
<!DOCTYPE html>
<html lang="en">
    {{template "header"}}
    <body>
        {{template "navbar"}}
        <div class="container">
            <div class="jumbotron">
                <h1>Artikel Programming</h1> 
                <p>Ini adalah artikel tentang programming</p> 
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some example text. Some example text.</p>
                <a href="#" class="card-link">Card link</a>
                </div>
            </div>
        </div>
    </body>
</html>
{{end}}
